<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Homer</title>
    <style>
        .simpson {
            width: 180px;
            height: 180px;
        }
    </style>
    <script type="text/javascript" src="../events/PostMessageCourier.js"></script>
</head>
<body>
    <script type="application/javascript">
        window.awakeImageName = "bart.png";
        window.sleepImageName = "bart sleep.png";
    </script>
<script type="text/javascript" src="baseSimpson.js"></script>
<img src="../../img/bart sleep.png" class="simpson">
</body>
</html>
