<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Homer</title>
    <style>
        .simpson {
            width: 80px;
            height: 80px;
        }
    </style>
    <script type="text/javascript" src="../events/PostMessageCourier.js"></script>
</head>
<body>
    <script type="application/javascript">
        window.awakeImageName = "lisa.gif";
        window.sleepImageName = "lisa_sleep.gif";
    </script>
<script type="text/javascript" src="baseSimpson.js"></script>
<img src="../../img/lisa_sleep.gif" class="simpson">
</body>
</html>
