<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Homer</title>
    <style>
        .simpson {
            width: 120px;
            height: 120px;
        }
    </style>
    <script type="text/javascript" src="../events/lpPostMessageCourier.js"></script>
</head>
<body>
    <script type="application/javascript">
        window.awakeImageName = "maggie.jpg";
        window.sleepImageName = "maggie_sleeping.gif";
    </script>
<script type="text/javascript" src="baseSimpson.js"></script>
<img src="../../img/maggie.jpg" class="simpson">
</body>
</html>
