<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Homer</title>
    <style>
        .simpson {
            width: 80px;
            height: 80px;
        }
    </style>
    <script type="text/javascript" src="../events/lpPostMessageCourier.js"></script>
</head>
<body>
    <script type="application/javascript">
        window.awakeImageName = "marge.jpg";
        window.sleepImageName = "marge_sleep.jpg";
    </script>
<script type="text/javascript" src="baseSimpson.js"></script>
<img src="../../img/marge_sleep.jpg" class="simpson">
</body>
</html>
